<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.hs.study.firstDB.dao.TestMapper">
    <insert id="insert" parameterType="kr.hs.study.firstDB.dto.TestDTO">
        insert into test(id, name)
        values (#{id}, #{name})
    </insert>
    <!-- id는 Mapper 메소드 이름과 동일해야함-->
    <select id="listAll" resultType="kr.hs.study.firstDB.dto.TestDTO">
        select * from test order by id desc
    </select>
    <select id="read" resultType="kr.hs.study.firstDB.dto.TestDTO">
        select * from test where id = #{id}
    </select>

    <delete id="delete" parameterType="int">
        delete from test where id=#{id}
    </delete>
</mapper>