<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.hs.study.SpringPrj.memo.dao.memoMapper">
    <!--  memoMapper.java 파일이 있는 풀 패키지경로 작성  -->

    <insert id="insert" parameterType="kr.hs.study.SpringPrj.memo.dto.MemoDTO">
    -- seq_id.nextval 자동 증가
        insert into memo(id, writer, contents, regDate) values(seq_id.nextval, #{writer}, #{contents}, sysdate)
    </insert>

    <select id="listAll" resultType="kr.hs.study.SpringPrj.memo.dto.MemoDTO">
        select * from memo order by id desc
    </select>
</mapper>